@import url('https://fonts.googleapis.com/css?family=Kanit:400,600,700,700i&display=swap');
$font:'Kanit', sans-serif;
.login{
	
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #C2E59C, #00BCD4);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
	}


	h1{
		text-align: center;
		font-weight: 600;
		//margin: 40px;
		font-size: 3rem;
	}
	h2{
		text-align: center;
		font-size: 3rem;
	}
}
	// .login-img{
	// 	background-image: url('/images/bg.svg');
	// 	background-repeat: no-repeat;
	// 	background-size: cover;

	// }

    //background-clip: initial;
	background-position-x: center;
	font-family: $font;
	.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 20px;
			border: 3px solid #ffffff;
			margin-bottom: 15px;
			border-radius: 50px;
			box-sizing:border-box;
			background-color: transparent;
			outline: 0;
			color: #668174;
			font-size: 15px;
			font-family: 'Kanit', sans-serif;;
			font-weight: 200;
			
		}
		.login-form button[type="submit"] {
			
			width: 100%;
			padding: 15px;
			font-size: 25px;
			border-radius: 50px;
			background-color:white;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color:#668174;
			
			outline: none;
		}

		object{
			max-width: 500px;
			
		}

		img{
			margin: 0 auto;
			
		}	
	
}
		.login-form {
			width: 300px;
			margin: 0 auto;
			margin-top: 100px;
			
		
		h1 {
			text-align: center;
			color:white;
			font-size: 3rem;
			font-family: $font;
			font-weight: 900;
			padding: 20px 0 20px 0;
		}

		h2{
			color:white;
			text-align: center;
			font-weight: 700;
		}
        
     
	}
		
      
		